<div style="width:100%;font-size:13px;font-family:Arial">
	Forma de contacto de Medicapp:
	
	<p style="margin-top:15px;line-height:18px;">
		Datos del visitante: <br><br>
		Nombre: <%= @message.name %> <br>
		Email: <%= @message.email %> <br>
		Teléfono: <%= @message.phone %> <br>
		Mensaje: <%= @message.comments %>
	</p>
</div>