<script>
	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: false,
			events: '/calendar.json',
			eventClick: function(event) {
        		if (event.url) {
		            window.navigate(event.url);
		        }
    		}
		});
		
	});

</script>
<style>

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>

<div id='calendar'></div>