<div style="width:100%;font-size:13px;font-family:Arial">
	Hola <%= @message.name%>, gracias por haberte registrado para asistir a nuestro congreso.
	Aquí está tu pase de entrada para el evento:
	
	<p style="margin-top:15px;line-height:18px;">
		HI
	</p>
</div>