<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<% 
@link = "medicapp1.herokuapp.com/admin/confirm/"+@message.id.to_s
%>



<div style="width:100%;font-size:13px;font-family:Arial">
	Hola <%= @message.name%>, gracias por haberte registrado para asistir a nuestro congreso.
	Aquí está tu pase de entrada para el evento:
	
	<img src='https://chart.googleapis.com/chart?cht=qr&chl=<%= @link %>&chs=500x500'/>
	
	Te esperamos!!
</div>


</body>
</html>