// Place all the styles related to the Interiors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar td {  width: 14.28%; }

.info{

	display: inline-block;
	margin-left: auto;
	font-size: 15px;

}

.data{
	display: inline-block;
	margin-right: auto;
	font-size: 15px;
	
}

.centro{
	margin: 0 auto !important;
   	float: none !important;
   	ul{
   		padding-left: 120px;
   	}
}

.mobile-calendar{
	display: none;
}

@media (max-width: 480px) {

.calendar{
	display: none;
}

.mobile-calendar{
	display: block;
}

.nombre-evento{
	font-size: 15px;
	font-weight: bold;
}

h4{
	text-align: center;
	color: grey;
}

.info{

	display: inline-block;
	margin-left: auto;
	font-size: 15px;

}

.data{
	display: inline-block;
	margin-right: auto;
	font-size: 15px;
	
}

.centro{
	margin: 0 auto !important;
   	float: none !important;
   	ul{
   		padding-left: 85px;
   	}
}

}